body {
    font-family: sans-serif;
    background-image: url("https://raw.githubusercontent.com/mysan91/MS3/master/static/images/round2.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: auto;
    height: 100%;

}


/* H element in white to easely see the text */
h3 {
    color: white;
}

h5 {
    color: white;
}

h6 {
    color: white;
}


/* white background that you can see through */
.card-panel {
    background-color: rgba(255, 255, 255, 0.75);
}

/* Blue background on the tasks that you can see through  */
.card {
    background-color: rgba(60, 156, 201, 0.75);
}

/* Blue background on the tasks that you can see through  */
.card-content2 {
    background-color: rgba(60, 156, 201, 0.75);
}