{% extends "base.html" %}
{% block content %}

<!-- Page Header -->
<h3 class="center-align page-header">Register</h3>
<h5 class="text-center mb-5">Register now to start making a good structure</h5>


<!-- Signup Form -->

<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
        <div class="card-panel">

            <!-- username -->
            <div class="row">
                <div class="input-field col s12">
                    <input id="username" name="username" type="text" minlength="3" maxlength="15"
                        pattern="^[a-zA-Z0-9]{5,12}$" class="validate" required>>
                    <label for="username">Create Username</label>
                </div>
            </div>

            <!-- password -->

            <div class="row">
                <div class="input-field col s12">
                    <input id="password" name="password" type="password" minlength="5" maxlength="15"
                        pattern="^[a-zA-Z0-9]{5,12}$" class="validate" required>
                    <label for="password" class="white-text">Enter Password 5-15 Characters</label>
                </div>
            </div>

            <!-- confirm password -->

            <div class="row">
                <div class="input-field col s12">
                    <input id="confirm-password" name="confirm-password" type="password" minlength="5" maxlength="15"
                        pattern="^[a-zA-z0-9]{5,15}$" class="validate" required>
                    <label for="confirm-password">Confirm Password</label>
                </div>
            </div>

            <!-- register -->
            <div class="row">
                <button type="submit" id="register-btn"
                    class="col s12 btn-large deep-purple darken-1 text-shadow">Register <i
                        class="fas fa-sign-in-alt"></i></button>
            </div>
        </div>
    </form>

    {% endblock %}