{% extends "base.html" %}
{% block content %}
{% if session.user %}
<h3 class="white-text center-align">Your Tasks</h3>

<ul class="collapsible">
    {% for task in tasks %}
    <li>
        <div class="row">
            <div class="col s12 m12 l6">
                <div class="card blue-grey darken-1" id="taskcards">
                    <div class="card-content white-text center-align">
                        <span class="card-title">{{ task.task_name }}</span>
                        <strong> Category: {{ task.category_name }}</strong>
                        <p>{{ task.task_description }}</p>
                        <strong>Start date: {{ task.start_date }}</strong><br>
                        <strong>Due date: {{ task.due_date }}</strong>

                    </div>
                    <div class="card-action center-align">
                        <a href="{{ url_for('delete_task', task_id=task._id) }}"
                            class="btn-small green accent-4 center-align">Done</a>
                        <a href="{{ url_for('edit_task', task_id=task._id) }}"
                            class="btn-small light-blue lighten-1 center-align">Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% else %}


{% endif %}
{% endblock %}